@model HexaControl.Models.Hero

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hero</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BtnUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BtnUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
