@model IEnumerable<HexaControl.Models.CommonQues>

@{
    ViewData["Title"] = "Index";
}


        <table class="table" dir="rtl">
            <thead>
                <p>
                    <a asp-action="Create" class="btn btn-success" > أضف سؤال +</a>
                </p>

                <tr>
                    <th>
                        عنوان السؤال
                    </th>
                    <th>
                        تاريخ النشر
                    </th>
                    <th>
                        جواب السؤال
                    </th>
                    <th>الاوامر</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="itemsTableBody">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Question)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PubDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Answer)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                         
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>


                    
                }
            </tbody>
        </table>
       




