@model HexaControl.Models.WhyHexaElement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WhyHexaElement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IconName)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content($"~/AllFiles/whyHexaElementFiles/{Model.IconName}")" style="width:150px;height:50px" />
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.whyHexa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.whyHexa.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
