@model HexaControl.Models.Blog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainArticle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainArticle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isChecked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isChecked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PubDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PubDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeclarativeParagraph)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeclarativeParagraph)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOriginalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOriginalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstParg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstParg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.firstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstOriginalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstOriginalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondParg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondParg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondOriginalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondOriginalName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
